@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

.waveWrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.waveWrapperInner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  bottom: -1px; }

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%; }

.wavTop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-size: 50% 100px;
  z-index: 15;
  opacity: 0.5;
  animation: move-wave 3s;
  animation-delay: 1s; }

.waveMiddle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-image: url("../images/wave-mid.png");
  background-size: 50% 120px;
  z-index: 10;
  opacity: 0.75;
  animation: move_wave 10s linear infinite; }

.waveBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-image: url("../images/wave-bot.png");
  background-size: 50% 100px;
  z-index: 5;
  animation: move_wave 15s linear infinite; }
